  
  <div class="tweet panel panel-info">
    <div class="panel-heading row">
      <div class="panel-title">
        <h3 class="col-sm-12">
          <%= link_to tweet_path(id:tweet.id) do %> <span id="name"><%= @user.name %></span>   <% end %>
          <span id="timeAgo">
            <!-- If user updated tweet, displays updated_at time instead. -->
              <%= (tweet.updated_at > tweet.created_at) ? time_ago_in_words(tweet.updated_at) : time_ago_in_words(tweet.created_at)  %>
               ago

          </span>
          <span id="icons" class="pull-right">
            <%= link_to edit_tweet_path(id: tweet.id) do %><i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i> <% end %>
            <%= link_to tweet_path(id: tweet.id), method: :delete do %><i class="fa fa-trash fa-2x" aria-hidden="true"></i> <% end %>
            <span id="like_unlike_<%=tweet.id%>">
                <% if current_user.liked? tweet  %>  <!-- if likes, display filled heart  --> 
                     <%= link_to unlike_tweet_path(id: tweet.id), remote: true, class: "unlike" do %><i class="fa fa-heart fa-2x" aria-hidden="true"></i> <% end %>
                <% else %>  <!-- tweet not liked yet, display empty heart -->
                    <%= link_to like_tweet_path(id: tweet.id), remote: true, class: "like" do %><i class="fa fa-heart-o fa-2x" aria-hidden="true"></i> <% end %>
                <% end %>
           </span>
           <span id="likeCount_<%= tweet.id %>"><%= tweet.get_likes.size %></span>
          </span>
        </h3>
      </div>
    </div>

    <div class="panel-body">
      <p> <%= tweet.text %> </p>
    </div>

  </div>
