 
<div class="row">
  <div class="col-md-4 col-md-offset-4">
       <h1>Edit Tweet</h1>
       
       <%= form_for @tweet, url:tweet_path(id: @tweet.id), method: :put do |f| %>

      <div class="form-group">
        <%= f.label   :tweet , class: "control-label col-sm-2"%>
        <div class="col-sm-8 col-sm-offset-2"><%= f.text_area :text, class: "form-control"  %><p>You have <span id="count"> </span> characters remaining </p></div>
      </div>

      <%= f.hidden_field :user_id, :value => current_user.id %>

      <div class="buttons">

      <%= link_to 'Back', user_path(id: current_user.id), class: "btn btn-primary pull-left" %> 

      <%= f.submit "Update" , class: "btn btn-success pull-right" %>
        
      </div>

      <% end %>

  </div>
</div>

<%= render 'layouts/textarea' %>

  <!-- form css -->
  <script>
    var form = document.getElementsByTagName("form");
    form[0].className += "form-horizontal";
  </script>

<%= render "tweets/checktweet" %>
