<h1> tweet showpage</h1>

<%= link_to 'Back', user_path(id: @tweet.user_id), class: "btn btn-primary" %><br>  

<%= @tweet.text %>
<h3> This tweet has <%= pluralize(@comments.count, "replies") %></h3>

<div class="pageBody">

<% if @comments!=nil %>
 
      <% @comments.each do |comment| %>
        <%= render comment %>
        <% end %>
<% else %>
         <p>There are no comments.</p>
<% end %>

       <div id="commentForm">
          <%= render 'comments/form' %>
       </div>


</div>


