<div class="row">

  <div class="pageHeader">

    <h1> Tweet Showpage</h1>

    <%= link_to 'Back', user_path(id: @tweet.user_id), class: "btn btn-primary" %><br>
    
  </div>

  <div class="pageBody col-md-4 col-md-offset-4">

      <div id="displayTweets">

      <%= render @tweet %>

      <h3> This tweet has <%= pluralize(@comments.count, "replies") %></h3>

      <% if @comments!=nil %>
        <% @comments.each do |comment| %>
          <%= render comment %>
        <% end %>
      <% else %>
        <p>There are no comments.</p>
      <% end %>

      <div id="commentForm">
         <%= render 'comments/form' %>
      </div>

      </div>

  </div>

</div>
